extends ./layout/index
block contenido
    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra vitae congue eu consequat ac felis donec. Convallis tellus id interdum velit laoreet id donec. Sed sed risus pretium quam vulputate dignissim suspendisse. 

                p venenatis a condimentum vitae sapien. Pretium aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Est ante in nibh mauris cursus mattis. Egestas erat imperdiet sed euismod. Dolor magna eget est lorem ipsum dolor.

                p eget mauris pharetra. A lacus vestibulum sed arcu non odio euismod lacinia. Aliquam etiam erat velit scelerisque in dictum non consectetur. Nulla facilisi morbi tempus iaculis urna id volutpat. Mi bibendum neque egestas congue quisque egestas diam in.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row        
                .col-md-4   
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class='img-fluid mb-4')
                        h2.mb-4 Seguridad 
                        p Nulla facilisi morbi tempus iaculis urna id volutpat. Mi bibendum neque egestas congue quisque egestas diam in.

                .col-md-4   
                        img(src="img/icono_destinos.svg", alt="icono seguridad", class='img-fluid mb-4')
                        h2.mb-4 Mejores Destinos
                        p Nulla facilisi morbi tempus iaculis urna id volutpat. Mi bibendum neque egestas congue quisque egestas diam in.

                .col-md-4   
                        img(src="img/icono_precios.svg", alt="icono seguridad", class='img-fluid mb-4')
                        h2.mb-4 Los Mejores Precios
                        p Nulla facilisi morbi tempus iaculis urna id volutpat. Mi bibendum neque egestas congue quisque egestas diam in.